// default colors
$background: #023059;
$light-background: #3D5E73;

$primary: #F2798F;
$light-primary: #F2ACB9;

$blue: #3D9DD9;
$light-blue: #88C9F2;

$warning: #F2C094;
$success: #59cd90;

$white: #FFF;